.navbar-brand {
  font-size: 24px !important;
}

.navbar-brand ~ .sidebar {
  visibility: hidden;
}

.sidebar {
  height: 100%;
  width: 200px;
  margin-left: -200px;
  background-color: #777;
  z-index: 10;  /* Permanecer en la cima */
  overflow-x: hidden;   /* Deshabilitar el desplazamiento horizontal */
  transition: 0.4s;
}

.list-group-item {
  background-color: transparent;
  color: #ddd;
}

.dropdown-menu {
  background-color: #7952b3;
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #ffffff26;
}

.my-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

.active-cont {
  margin-left: 200px;
}