/* ========== Colores ========== */
.unique-color {
  background-color: #3f729b !important;
}

.container-for-admin {
  background-color: rgb(255, 255, 255) !important;
}

.container {
  margin-top: 4rem;
}

.nav-link:hover {
  color:white !important;
}

.header__toggle {
  display: flex;
  align-items: center;
  padding-top: .3rem;
  padding-bottom: .3rem;
  font-size: 2rem;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  cursor: pointer;
}

.header__toggle:hover, .header__toggle:focus {
  color: rgb(236, 225, 225);
}

/*========== SIDENAV ==========*/
.sidebar-fixed {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
          box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  z-index: 1050;      /* Capa por encima */
  transition: .4s;
}

.sidebar-container {
  scrollbar-width: none;    /* Para mozilla */
}

.sidebar-container::-webkit-scrollbar {
  display: none;    /* Para Google Chrome y otros */
}

/* ---------------------------------------------------------
    SubMenus de la barra lateral
    Slide-Out Navigation Menu - 
    https://www.templatemonster.com/blog/build-navigation-menu-css-jquery/
--------------------------------------------------------- */
.sidebar-fixed .list-group .active {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  -webkit-border-radius: 5px;
          border-radius: 5px
}

.sidebar-fixed .list-group .list-group-item {
  color: #ffffff;
  font-size: .9rem;      /*font-size: medium; font-size: 1rem;*/
  display: block;
  white-space: nowrap;
  background-color: #3F729B;
}

.sidebar-fixed.list-group .list-group-item:hover {
  color: #161616;
  background-color: white;
}

.sidebar-fixed .list-group .list-group-item:hover {
  color: #161616;
  background-color: white;
}

.sidebar-icon {
  font-size: 1.2rem;
  margin-right: .5rem;
}

/* Dropdown */
.sidebar-dropdown {
  overflow: hidden;
  max-height: 41px;
  transition: .50s ease-in-out;
}

.sidebar-dropdown-icon {
  position: relative;
  transition: .4s;
}

/* Mostrar el submenú colapsado - Oculta los demás submenús */
.sidebar-dropdown:hover {
  max-height: 100rem;
}

/* Rotar la flecha del icono */
.sidebar-dropdown:hover .sidebar-dropdown-icon {
  transform: rotate(180deg);
}

/* Mostrar el menú lateral y cambiar el icono con JavaScript */
.show-menu {
  left: 0;
}

/* Activar el enlace */
.active {
  color: var(--first-color);
}

/* =================================
  Abrir/cerrar el navegador lateral
  Capa por encima de toda la página
==================================== */
.sideNav-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  left: 100%;
  top: 0;
  z-index: 998;
  cursor: default;
}

.sidebar-fixed:target {
  left: 0;
}

.sidebar-fixed:target+.sideNav-overlay {
  left: 0;
}