$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

.navbar-brand {
  font-size: 24px !important;
}

.sideNavOpen {
  height: 100%;
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow-x: hidden;
  padding-left: 10px;
  padding-top: 20px;
  transition: 0.1s;
  background-color: $danger;
}

.sideNavClose {
  height: 100%;
  width: 0px;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow-x: hidden;
  padding-left: 10px;
  padding-top: 20px;
  transition: 0.1s;
  background-color: $danger;
}

.ContentOverlay {
  display: block;
  position: fixed;
  height: 100%;
  top:0;
  left: 0;
  z-index: 7;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: rgba(0,0,0,0.5);
}

.ContentOverlayClose{
  display: none;
}